[include mainsail.cfg]
#[include sovol-macros.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN
#[include KAMP_Settings.cfg]
[include ./KAMP_LiTE/*.cfg]
[include lcd.cfg]
[include sovol-menu.cfg]
[include macros.cfg]
#[include printer-vanilla.cfg]
#[include printer-eddy.cfg]
[include led_progress.cfg]
[include printer-beacon.cfg]
#[include printer-eddy-shroudv4.cfg]
[include motor_database.cfg]
[include expander.cfg]
[include led_effects.cfg]

[autotune_tmc stepper_x]
motor: Shengyang-42BYGH2904-A-24NQ1
sg4_thrs: 75
[autotune_tmc stepper_y]
motor: Shengyang-42BYGH2904-A-24NQ1
sg4_thrs: 75

[autotune_tmc stepper_z]
motor: Shengyang-42BYGH1603-A-20DNT
[autotune_tmc stepper_z1]
motor: Shengyang-42BYGH1603-A-20DNT
[autotune_tmc stepper_z2]
motor: Shengyang-42BYGH1603-A-20DNT
[autotune_tmc stepper_z3]
motor: Shengyang-42BYGH1603-A-20DNT

[autotune_tmc extruder]
motor: Shengyang-36BYG1510-1M-6QT

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 33.259
#*# pid_ki = 3.758
#*# pid_kd = 73.585
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.533
#*# pid_ki = 1.081
#*# pid_kd = 1182.981
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 62.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 46.8
#*#
#*# [beacon model default]
#*# model_coef = 1.4021375686242954,
#*# 	  1.7198357684206351,
#*# 	  0.746243528456626,
#*# 	  0.2595926223889113,
#*# 	  0.3435183380129809,
#*# 	  0.7413207069251722,
#*# 	  0.07323633028051725,
#*# 	  -0.5975440761531013,
#*# 	  0.03369908755502805,
#*# 	  0.2777905991004908
#*# model_domain = 1.766785245578233e-07,1.9248615854524192e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 25.791492
#*# model_offset = 0.00000
